        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            scroll-behavior: smooth;
            /*La propriété scroll-behavior définit le comportement du défilement pour une boîte de défilement lorsque celui-ci provient de la navigation ou des API CSSOM.*/
        }
        /* //////////////////// SECTION BANNER //////////////////////// */
        
        p {
            font-weight: 300;
            color: #111;
        }
        
        .banner {
            position: relative;
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url(images/bg.jpg);
            background-size: cover;
        }
        
        .banner .content {
            max-width: 900px;
            text-align: center;
        }
        
        .banner .content h2 {
            font-size: 5em;
            color: #ffffff;
        }
        
        .banner span.red {
            color: rgb(255, 1, 87);
        }
        
        .banner span.blue {
            color: #192885;
        }
        
        .banner .content p {
            font-size: 1em;
            color: #ffffff;
        }
        
        .btn {
            font-size: 1em;
            color: #ffffff;
            background: rgb(255, 1, 87);
            display: inline-block;
            padding: 10px 40px;
            margin-top: 20px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            transition: 0.5s;
        }
        
        .btn:hover {
            letter-spacing: 6px;
        }
        /* FIN section banner  */
        /* /////////// NAVIGATION + LOGO ////////////////////////// */
        
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 40px 100px;
            z-index: 11111;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s;
        }
        /* nab qui devient blanc au scroll avec le js*/
        
        header.sticky {
            background: #ffffff;
            padding: 10px 100px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        }
        
        header .logo {
            color: #ffffff;
            font-weight: 700;
            font-size: 2em;
            text-decoration: none;
        }
        
        header.sticky .logo {
            color: #192885;
        }
        
        header .logo span {
            color: rgb(255, 1, 87);
        }
        
        header .navigation {
            position: relative;
            display: flex;
        }
        
        header .navigation li {
            list-style: none;
            margin-left: 30px;
        }
        
        header .navigation li a {
            text-decoration: none;
            color: #ffffff;
            font-weight: 300;
        }
        
        header.sticky .navigation li a {
            color: #192885;
        }
        
        header .navigation li a:hover {
            color: rgb(255, 1, 87);
            font-weight: 500;
        }
        /* FIN navigation + logo  */
        /* //////////////////// SECTION ABOUT //////////////////////// */
        
        section {
            padding: 100px;
        }
        
        .row {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .row .col50 {
            position: relative;
            width: 48%;
        }
        
        .titleText {
            color: #192885;
            font-size: 2em;
            /*font-weight: 300;*/
        }
        
        .titleText span {
            font-weight: 700;
            font-size: 1.5em;
        }
        
        .titleText span.red {
            color: rgb(255, 1, 87);
        }
        
        .titleText span.blue {
            color: #192885;
        }
        
        .row .col50 .imgBx {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        .row .col50 .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            /*object-fit définit la façon dont le contenu d'un élément 
    remplacé (<img> ou <video> par exemple) 
    doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur*/
            /*cover Le contenu remplacé est dimensionné pour maintenir son ratio 
    d'affichage tout en remplissant toute la boîte de contenu. 
    La taille réelle est calculée pour couvrir la zone décrite par la hauteur 
    et la largeur de l'élément. Si les ratios de l'objet 
    et de la boîte ne correspondent pas, le contenu remplacé sera rogné.*/
        }
        /* FIN section about  */
        /* /////////// SECTION MENU ////////////////////////// */
        
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .menu .content {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            /*La propriété flex-wrap indique si les éléments flexibles 
    sont contraints à être disposés sur une seule ligne ou 
    s'ils peuvent être affichés sur plusieurs lignes avec un retour automatique. 
    Si le retour à la ligne est autorisé, la propriété permet également 
    de contrôler la direction dans laquelle les lignes sont empilées.*/
            margin-top: 40px;
        }
        
        .menu .content .box {
            width: 340px;
            margin: 20px;
            border: 15px solid #fff;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
        }
        
        .menu .content .box .imgBx {
            position: relative;
            width: 100%;
            height: 300px;
        }
        
        .menu .content .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .menu .content .box .text {
            padding: 15px 0 5px;
        }
        
        .menu .content .box .text h3 {
            font-weight: 400;
            color: #111111;
        }
        /* FIN section menu  */
        /* /////////// SECTION EXPERT ////////////////////////// */
        
        .expert .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /*La propriété flex-wrap indique si les éléments flexibles 
    sont contraints à être disposés sur une seule ligne ou 
    s'ils peuvent être affichés sur plusieurs lignes avec un retour automatique. 
    Si le retour à la ligne est autorisé, la propriété permet également 
    de contrôler la direction dans laquelle les lignes sont empilées.*/
            flex-direction: row;
            margin-top: 40px;
        }
        
        .expert .content .box {
            width: 250px;
            margin: 15px;
        }
        
        .expert .content .box .imgBx {
            position: relative;
            width: 100%;
            height: 300px;
        }
        
        .expert .content .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .expert .content .box .text {
            padding: 15px 0 5px;
        }
        
        .expert .content .box .text h3 {
            font-weight: 400;
            color: #111111;
        }
        /* FIN section expert  */
        /* /////////// SECTION TESTIMONIALS ////////////////////////// */
        
        .testimonials {
            /*img de fond pour la section*/
            background: url(images/bg2.jpg);
            background-size: cover;
            /*cover Le contenu remplacé est dimensionné pour maintenir son ratio 
    d'affichage tout en remplissant toute la boîte de contenu. 
    La taille réelle est calculée pour couvrir la zone décrite par la hauteur 
    et la largeur de l'élément. Si les ratios de l'objet 
    et de la boîte ne correspondent pas, le contenu remplacé sera rogné.*/
        }
        
        .white .titleText,
        .white p {
            color: #ffffff;
        }
        
        .testimonials .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 40px;
        }
        
        .testimonials .content .box {
            /*dimension de la box et couleur*/
            width: 340px;
            margin: 20px;
            padding: 40px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .testimonials .content .box .imgBx {
            position: relative;
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
            border-radius: 50%;
            overflow: hidden;
            /*overflow permet de gérer la manière dont est rogné le contenu lorsque votre contenu 
        est plus grand que la taille spécifiée de votre élément
        /*hidden cache tout ce qui dépasse de l'élément*/
        }
        
        .testimonials .content .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .testimonials .content .box .text {
            text-align: center;
        }
        
        .testimonials .content .box .text p {
            color: #666666;
            font-style: italic;
        }
        
        .testimonials .content .box .text h3 {
            margin-top: 20px;
            color: rgb(255, 1, 87);
            font-size: 1em;
            font-weight: 600;
        }
        /* FIN section testimonials  */
        /* /////////// SECTION CONTACT ////////////////////////// */
        
        .contact {
            background: url(images/bg3.jpg);
            background-size: cover;
        }
        
        .contactForm {
            padding: 75px 50px;
            background: #fff;
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin-top: 50px;
        }
        
        .contactForm h3 {
            color: #192885;
            font-size: 1.2em;
            margin-bottom: 20px;
        }
        
        .contactForm h3 span.red {
            color: rgb(255, 1, 87);
        }
        
        .contactForm .inputBox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }
        
        .contactForm .inputBox input,
        .contactForm .inputBox textarea {
            width: 100%;
            border: 1px solid #555555;
            padding: 10px;
            color: #111111;
            outline: none;
            font-size: 16px;
            font-weight: 300;
            resize: none;
            /*resize: none; L'élément n'offre aucune méthode à l'utilisateur pour que celui-ci le redimensionne.*/
        }
        
        .contactForm .inputBox input[type="submit"] {
            font-size: 1em;
            color: #ffffff;
            background: rgb(255, 1, 87);
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            transition: 0.5s;
            max-width: 100px;
            font-weight: 500;
            border: none;
            cursor: pointer;
        }
        /* FIN section contact  */